body {
	background: url('../img/apartmentgeneric.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.maintext {
	text-align: center;
	margin-top: 100px;
}

.maintext h1 {
	font-size: 45px;
}


/*EDITING THE SELECT DROPDOWN MENU CSS*/

